@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* Colors */
/* Fonts */
/* Screen sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.6392156863);
  color: #202443;
  display: grid;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 411px;
  height: 883px;
  background-color: #FEFAEF;
  border-radius: 20px;
  padding: 10px;
}

.welcome {
  width: 100%;
  height: 100%;
  padding: 25px 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 220px 430px 103px;
}
.welcome__info-container {
  width: 100%;
  height: 100%;
  display: grid;
}
.welcome__info-container--title {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1.5px;
}
.welcome__info-container--text {
  font-size: 1.8rem;
  text-align: center;
  color: #025D67;
}
.welcome__image-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.welcome__image-container--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.welcome__button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #FA8A88;
  color: #FEFAEF;
  letter-spacing: 1px;
}

.calculator {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  display: none;
  justify-items: center;
  align-items: center;
  grid-template-rows: 60px 40px 743px;
  gap: 10px;
}
.calculator__title {
  font-size: 2.5rem;
  text-align: center;
  line-height: 30px;
}
.calculator__text {
  font-size: 1.4rem;
  text-align: center;
  color: #025D67;
}
.calculator__form {
  width: 100%;
  height: 743px;
  display: grid;
  grid-template-rows: 240px 173px 300px;
  align-items: center;
  justify-items: center;
}
.calculator__form--genre {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 200px;
  align-items: center;
}
.calculator__form--genre .genre-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.calculator__form--genre .genre-wrapper__person {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 160px 40px;
}
.calculator__form--genre .genre-wrapper__person--image-container {
  width: 120px;
  height: 150px;
  border-radius: 10px;
}
.calculator__form--genre .genre-wrapper__person--image-container .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.calculator__form--genre .genre-wrapper__person .input-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.calculator__form--genre .genre-wrapper__person--input {
  width: 20px;
  height: 20px;
}
.calculator__form--genre .genre-wrapper__person label {
  font-size: 1.6rem;
  color: #202443;
  font-weight: 500;
}
.calculator__form .middle-wrapper {
  width: 100%;
  height: 143px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calculator__form--cards {
  width: 110px;
  height: 100%;
  border-radius: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.calculator__form--cards label {
  text-align: center;
}
.calculator__form--cards .subsection-title {
  font-size: 1.7rem;
}
.calculator__form--cards input {
  width: 60px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.calculator__form .age {
  background-color: #FFDAD7;
}
.calculator__form .age .age-label {
  color: #f36f6c;
}
.calculator__form .age input {
  background-color: rgba(250, 138, 136, 0.2470588235);
  color: #FA8A88;
  font-weight: 700;
}
.calculator__form .age input::placeholder {
  color: inherit;
}
.calculator__form .age input:focus {
  outline: 2px solid #FA8A88;
}
.calculator__form .height {
  background-color: #D6ECFB;
}
.calculator__form .height .height-label {
  color: #026773;
}
.calculator__form .height input {
  background-color: rgba(5, 139, 154, 0.1215686275);
  color: #026773;
  font-weight: 700;
}
.calculator__form .height input::placeholder {
  color: inherit;
}
.calculator__form .height input:focus {
  outline: 2px solid #026773;
}
.calculator__form .weight {
  background-color: #CDD9CD;
}
.calculator__form .weight .weight-label {
  color: #146152;
}
.calculator__form .weight input {
  background-color: rgba(20, 97, 82, 0.1450980392);
  color: #146152;
  font-weight: 700;
}
.calculator__form .weight input::placeholder {
  color: inherit;
}
.calculator__form .weight input:focus {
  outline: 2px solid #146152;
}
.calculator__form--activities {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 250px;
  gap: 10px;
}
.calculator__form--activities .activities-wrapper {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.calculator__form--activities .activities-wrapper__activity {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.calculator__form--activities .activities-wrapper__activity--image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.calculator__form--activities .activities-wrapper__activity .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.calculator__form--activities .activities-wrapper__activity--input {
  width: 15px;
  height: 15px;
}
.calculator__form--activities .activities-wrapper__activity--label {
  font-size: 1.4rem;
  color: #202443;
}
.calculator__form--activities .activities-wrapper__button {
  width: 100px;
  height: 30px;
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #FA8A88;
  color: #FEFAEF;
}
.calculator .section-title {
  font-size: 1.8rem;
  text-align: center;
}

input[type=number]:focus::-webkit-inner-spin-button, input[type=number]:hover::-webkit-inner-spin-button {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
